.wrapper {
  display: flex;
  flex-flow: row wrap;

  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;

  -webkit-flex: 1 100%;
}

.header {
  background: #FFEEEE;
}

.aside-1 {
  background: #EEFFEE;
}

.main {
  text-align: left;
  background: #EEFFFF;
}

.aside-2 {
  background: #FFFFEE;
}

.footer {
  background: #EEEEFF;
}

@media all and (min-width: 300px) {
  .aside {
    flex: 1 auto;

    -webkit-flex: 1 auto;
  }
}

@media all and (min-width: 1000px) {
  .aside-1 {
    order: 1;

    -webkit-order: 1;
  }

  .main {
    order: 2;
    flex: 3 0px;

    -webkit-order: 2;
    -webkit-flex: 3 0px;
  }

  .aside-2 {
    order: 3;

    -webkit-order: 3;
  }

  .footer {
    order: 4;

    -webkit-order: 4;
  }
}
