body {
  margin: 0;
  padding-top: 86px;
}

#theme {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
}

#header-image {
  width: 100%;
  height: 100%;
  clip: rect(0,auto,6.5em,0);
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
}

#header-image img {
  background-attachment: scroll;
  width: 100%;
  height: 100%;
  background-size: cover;
}

#UH {
  box-shadow: 0 0 9px 0 #490f76;
  border-bottom: 1px solid #490f76;
  position: fixed;
  height: 6.5em;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
}

#myOuterWrapper {
  padding: 8px;
}

td {
  padding: 0px;
}

input {
  font-family: Helvetica, Arial;
  font-size: 14pt;
  margin-left: 8px;
  margin-top: 20px;
}

label {
  font-family: Helvetica, Arial;
  font-size: 14pt;
  color: lightgray;
}

.textInput {
  width: 4em;
}

.hidden {
  display: none;
}

.myColumn {
  width: 18em;
}

.myContent {
  position: relative;
}

.App_v2 {
  margin-top: 20px;
  background: #bfa79b;
  padding: 100px;
}

.animated {
  margin-top: 20px;
  margin-right: 20px;
  display: inline-block;
  position: relative;
  font-family: Helvetica, Arial;
  font-size: 16pt;
  color: lightgray;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#filters {
  position: relative;
}

.filter {
  margin-top: 20px;
}

.filter span, label {
  font-family: Helvetica, Arial;
  font-size: 14pt;
  color: lightgray;
  line-height: 150%;
}

.filter img {
  width: 100%;
}

.pos-bg {
  text-align: right;
}

.anim-box, .pos-box, .bg-box {
  margin-top: 0;
}

.fixed-pos {
  position: fixed;
  z-index: 8;
  top: 94px;
  width: 18em;
  text-align: right;
}

.had-fixed-pos {
  padding-top: 242px;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
}

.background {
  background-image: url(berlinskyline_night.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.unset {
  -webkit-filter: unset;
  filter: unset;
}

.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.brightness {
  -webkit-filter: brightness(0.2);
  filter: brightness(0.2);
}

.contrast {
  -webkit-filter: contrast(300%);
  filter: contrast(300%);
}

.drop-shadow {
  -webkit-filter: drop-shadow(16px 16px 10px black);
  filter: drop-shadow(16px 16px 10px black);
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.hue-rotate {
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}

.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.opacity {
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
}

.saturate {
  -webkit-filter: saturate(200%);
  filter: saturate(200%);
}

.sepia {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
}

@-webkit-keyframes anim-blur {
  0% {
    -webkit-filter: blur(5px);
  }
  50% {
    -webkit-filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(5px);
  }
}

@keyframes anim-blur {
  0% {
    filter: blur(5px);
  }
  50% {
    filter: blur(0px);
  }
  100% {
    filter: blur(5px);
  }
}

.anim-blur {
  -webkit-animation: anim-blur 5s infinite;
  animation: anim-blur 5s infinite;
}

@-webkit-keyframes anim-brightness {
  0% {
    -webkit-filter: brightness(0.2);
  }
  50% {
    -webkit-filter: brightness(1.0);
  }
  100% {
    -webkit-filter: brightness(0.2);
  }
}

@keyframes anim-brightness {
  0% {
    filter: brightness(0.2);
  }
  50% {
    filter: brightness(1.0);
  }
  100% {
    filter: brightness(0.2);
  }
}

.anim-brightness {
  -webkit-animation: anim-brightness 5s infinite;
  animation: anim-brightness 5s infinite;
}

@-webkit-keyframes anim-contrast {
  0% {
    -webkit-filter: contrast(300%);
  }
  50% {
    -webkit-filter: contrast(0);
  }
  100% {
    -webkit-filter: contrast(300%);
  }
}

@keyframes anim-contrast {
  0% {
    filter: contrast(300%);
  }
  50% {
    filter: contrast(0);
  }
  100% {
    filter: contrast(300%);
  }
}

.anim-contrast {
  -webkit-animation: anim-contrast 5s infinite;
  animation: anim-contrast 5s infinite;
}

@-webkit-keyframes anim-drop-shadow {
  0% {
    -webkit-filter: drop-shadow(16px 16px 10px black);
  }
  50% {
    -webkit-filter: drop-shadow(0px 0px 0px black);
  }
  100% {
    -webkit-filter: drop-shadow(16px 16px 10px black);
  }
}

@keyframes anim-drop-shadow {
  0% {
    filter: drop-shadow(16px 16px 10px black);
  }
  50% {
    filter: drop-shadow(0px 0px 0px black);
  }
  100% {
    filter: drop-shadow(16px 16px 10px black);
  }
}

.anim-drop-shadow {
  -webkit-animation: anim-drop-shadow 5s infinite;
  animation: anim-drop-shadow 5s infinite;
}

@-webkit-keyframes anim-grayscale {
  0% {
    -webkit-filter: grayscale(100%);
  }
  50% {
    -webkit-filter: grayscale(0);
  }
  100% {
    -webkit-filter: grayscale(100%);
  }
}

@keyframes anim-grayscale {
  0% {
    filter: grayscale(100%);
  }
  50% {
    filter: grayscale(0);
  }
  100% {
    filter: grayscale(100%);
  }
}

.anim-grayscale {
  -webkit-animation: anim-grayscale 5s infinite;
  animation: anim-grayscale 5s infinite;
}

@-webkit-keyframes anim-hue-rotate {
  0% {
    -webkit-filter: hue-rotate(90deg);
  }
  50% {
    -webkit-filter: hue-rotate(270deg);
  }
  100% {
    -webkit-filter: hue-rotate(450deg);
  }
}

@keyframes anim-hue-rotate {
  0% {
    filter: hue-rotate(90deg);
  }
  50% {
    filter: hue-rotate(270deg);
  }
  100% {
    filter: hue-rotate(450deg);
  }
}

.anim-hue-rotate {
  -webkit-animation: anim-hue-rotate 5s infinite;
  animation: anim-hue-rotate 5s infinite;
}

@-webkit-keyframes anim-invert {
  0% {
    -webkit-filter: invert(100%);
  }
  50% {
    -webkit-filter: invert(0);
  }
  100% {
    -webkit-filter: invert(100%);
  }
}

@keyframes anim-invert {
  0% {
    filter: invert(100%);
  }
  50% {
    filter: invert(0);
  }
  100% {
    filter: invert(100%);
  }
}

.anim-invert {
  -webkit-animation: anim-invert 5s infinite;
  animation: anim-invert 5s infinite;
}

@-webkit-keyframes anim-opacity {
  0% {
    -webkit-filter: opacity(50%);
  }
  25% {
    -webkit-filter: opacity(0);
  }
  50% {
    -webkit-filter: opacity(50%);
  }
  75% {
    -webkit-filter: opacity(100%);
  }
  100% {
    -webkit-filter: opacity(50%);
  }
}

@keyframes anim-opacity {
  0% {
    filter: opacity(50%);
  }
  25% {
    filter: opacity(0);
  }
  50% {
    filter: opacity(50%);
  }
  75% {
    filter: opacity(100%);
  }
  100% {
    filter: opacity(50%);
  }
}

.anim-opacity {
  -webkit-animation: anim-opacity 5s infinite;
  animation: anim-opacity 5s infinite;
}

@-webkit-keyframes anim-saturate {
  0% {
    -webkit-filter: saturate(200%);
  }
  50% {
    -webkit-filter: saturate(0);
  }
  100% {
    -webkit-filter: saturate(200%);
  }
}

@keyframes anim-saturate {
  0% {
    filter: saturate(200%);
  }
  50% {
    filter: saturate(0);
  }
  100% {
    filter: saturate(200%);
  }
}

.anim-saturate {
  -webkit-animation: anim-saturate 5s infinite;
  animation: anim-saturate 5s infinite;
}

@-webkit-keyframes anim-sepia {
  0% {
    -webkit-filter: sepia(100%);
  }
  50% {
    -webkit-filter: sepia(0);
  }
  100% {
    -webkit-filter: sepia(100%);
  }
}

@keyframes anim-sepia {
  0% {
    filter: sepia(100%);
  }
  50% {
    filter: sepia(0);
  }
  100% {
    filter: sepia(100%);
  }
}

.anim-sepia {
  -webkit-animation: anim-sepia 5s infinite;
  animation: anim-sepia 5s infinite;
}
