.button {
  display: none;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 2em;
  width: 120px;
  border: solid 1px darkgray;
  text-align: center;
  padding-top: 1em;
  cursor: pointer;
}

.active {
  background-color: #BCD2EE;
}

.disabled {
  color: lightgray;
  cursor: not-allowed;
}

.listener {
  display: none;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 2.5em;
  width: 120px;
  border: solid 1px darkgray;
  text-align: center;
  padding-top: 0.5em;
}

.clickable {
  cursor: pointer;
  border-radius: 5px;
}
