#jsweekly-links {
  padding-left: 0;

  li {
    list-style-type: none;
    padding-bottom: 0.5em;
  }

  a {
    color: #0055bb;

    &:hover {
      color: #bb0055;
    }
  }
}

#jsweekly-latest-content {
  display: none;
}
