.js {
  display: none;
}

.pinned {
  background-image: url("/images/pin.png");
  background-repeat: no-repeat;
  background-size: 1em;
  padding-left: 1em;
}

article {
  > section > h3 {
    cursor: pointer;
  }

  &.sticky {
    padding: 0 !important;

    > section {
      > p, table {
        padding: 0 10px 0 10px;
      }

      > ul, ol {
        padding-left: 34px;
      }

      > h3 {
        position: -webkit-sticky;
        position: sticky;
        top: 1px;
        z-index: 1;
        outline-width: 1px;
        outline-style: solid;
        outline-color: invert;
        background: var(--background-article);
        margin: 1px;
        padding: 1em 10px 1em 10px !important;
        color: var(--text);
      }
    }
  }
}
