.js {
  display: none;
}

.pinned {
  background-image: url("/images/pin.png");
  background-repeat: no-repeat;
  background-size: 1em;
  padding-left: 1em;
}

article {
  padding: 0 !important;

  > section {
    > p, table {
      padding: 0 10px 0 10px;
    }

    > h3 {
      position: sticky;
      top: 1px;
      z-index: 1;
      background: $backgroundArticle;
      margin: 1px;
      padding: 0.5em 1em 0.5em 1em !important;
      outline-width: 1px;
      outline-style: solid;
      outline-color: invert;
    }
  }
}
