textarea {
  &.code {
    font-family: $codeFonts;
    font-size: 9pt;
    overflow: auto;
    color: $textConsole;
    background-color: $backgroundConsole;
  }
}

span {
  &.code {
    font-family: $codeFonts;
    background-color: $backgroundCode;
    font-size: 11pt;
    padding-left: 5px;
    padding-right: 5px;

    @media screen and (prefers-color-scheme: dark) {
      background-color: darken($backgroundCode, $darken);
    }
  }
}

td {
  &.code {
    font-family: $codeFonts;
    background-color: $backgroundCode;
    font-size: 10pt;

    @media screen and (prefers-color-scheme: dark) {
      background-color: darken($backgroundCode, $darken);
    }
  }
}
