textarea {
  &.code {
    font-family: $codeFonts;
    font-size: 9pt;
    overflow: auto;
    color: $textConsole;
    background-color: $backgroundConsole;
  }
}

span {
  &.code {
    font-family: $codeFonts;
    background-color: $backgroundCode;
    font-size: 11pt;
    padding-left: 5px;
    padding-right: 5px;
  }
}

td {
  &.code {
    font-family: $codeFonts;
    background-color: $backgroundCode;
    font-size: 10pt;
  }
}
