$articleFonts: Helvetica, Arial;
$codeFonts: Monaco, Consolas;

$textConsole: lightgray;
$backgroundConsole: black;
$backgroundCode: #EEEEEE;

$backgroundHeader: #FFEEEE;
$backgroundAsideLeft: #EEFFEE;
$backgroundArticle: #EEFFFF;
$backgroundAsideRight: #FFFFEE;
$backgroundFooter: #EEEEFF;

$elementBorder: solid 1px darkgray;
$lessInteresting: darkgray;

$linkDefault: black;
$linkHover: blue;

$jsWeeklyLinkDefault: #0055bb;
$jsWeeklyLinkHover: #bb0055;

$tableDefault: #DDDDFF;
$tableHead: #CCCC99;
$tableData: #DDDDDD;

$catImage: url('/images/cat.svg');

$darken: 75%;
$darkModeText: lightgray;
$darkModeBackground: #2d2d2d;
