$articleFonts: Helvetica, Arial;
$codeFonts: Monaco, Consolas;

$textConsole: lightgray;
$backgroundConsole: black;
$backgroundCode: #EEEEEE;

$backgroundHeader: #FFEEEE;
$backgroundAsideLeft: #EEFFEE;
$backgroundArticle: #EEFFFF;
$backgroundAsideRight: #FFFFEE;
$backgroundFooter: #EEEEFF;

$elementBorder: solid 1px darkgray;
$lessInteresting: darkgray;

$linkDefault: black;
$linkHover: blue;

$jsWeeklyLinkDefault: #0055bb;
$jsWeeklyLinkHover: #bb0055;

$tableDefault: #DDDDFF;
$tableHead: #CCCC99;
$tableData: #DDDDDD;

$activeBlockBackground: #BCD2EE;
$disabledBlockText: lightgray;

$floorBackground: #eee;

$text: black;

$catImage: url('/images/cat.svg');

:root {
  --background-header: #{$backgroundHeader};
  --background-aside-left: #{$backgroundAsideLeft};
  --background-article: #{$backgroundArticle};
  --background-aside-right: #{$backgroundAsideRight};
  --background-footer: #{$backgroundFooter};

  --link-default: #{$linkDefault};
  --link-hover: #{$linkHover};

  --table-default: #{$tableDefault};
  --table-head: #{$tableHead};
  --table-data: #{$tableData};

  --active-block-background: #{$activeBlockBackground};
  --disabled-block-text: #{$disabledBlockText};

  --floor-background: #{$floorBackground};

  --text: #{$text};
}
