.wrapper {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;

  display: flex;
  flex-flow: row wrap;

  > * {
    -webkit-flex: 1 100%;

    padding: 10px;
    flex: 1 100%;
  }
}

.header {
  background: var(--background-header);
  color: var(--text);
}

.aside-1 {
  background: var(--background-aside-left);
  color: var(--text);

  @media all and (min-width: 1000px) {
    -webkit-order: 1;

    order: 1;
  }
}

.main {
  text-align: left;
  background: var(--background-article);
  color: var(--text);

  @media all and (min-width: 1000px) {
    -webkit-order: 2;
    -webkit-flex: 3 0px;

    order: 2;
    flex: 3 0px;
  }
}

.aside-2 {
  background: var(--background-aside-right);
  color: var(--text);

  @media all and (min-width: 1000px) {
    -webkit-order: 3;

    order: 3;
  }
}

.footer {
  background: var(--background-footer);
  color: var(--text);

  @media all and (min-width: 1000px) {
    -webkit-order: 4;

    order: 4;
  }
}

.aside {
  @media all and (min-width: 300px) {
    -webkit-flex: 1 auto;

    flex: 1 auto;
  }
}

.delayed {
  display: none;
}
