$floorColor: #eee;

#floor {
  background-color: $floorColor;

  @media screen and (prefers-color-scheme: dark) {
    background-color: darken($floorColor, $darken);
  }
}

#mouse {
  height: 50px;
  width: 50px;
  position: relative;
}

.mouse-right {
  background-image: url("/images/right.gif");
}

.mouse-right-up {
  background-image: url("/images/right-up.gif");
}

.mouse-right-down {
  background-image: url("/images/right-down.gif");
}

.mouse-left {
  background-image: url("/images/left.gif");
}

.mouse-left-up {
  background-image: url("/images/left-up.gif");
}

.mouse-left-down {
  background-image: url("/images/left-down.gif");
}

.mouse-win {
  background-image: url("/images/win.gif");
}

.mouse-preload {
  height: 1px;
  width: 1px;
  display: inline-block;
}
