td {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: text-top;

  &.data {
    background: $tableData;

    @media screen and (prefers-color-scheme: dark) {
      background: darken($tableData, $darken);
    }
  }

  &.default {
    background: $tableDefault;

    @media screen and (prefers-color-scheme: dark) {
      background: darken($tableDefault, $darken);
    }
  }

  &.head {
    background: $tableHead;

    @media screen and (prefers-color-scheme: dark) {
      background: darken($tableHead, $darken);
    }
  }
}
